{% extends "base.twig" %}

{% block main %}

<div class="container py-5 mx-auto">
    <div class="bg-secondary 4 mx-auto w-75">
        <h2 class="text-bg-secondary text-center font_gluten py-3 mb-4">{% if instruments.id_instru is defined %}Modifier{% else %}Créer{% endif %} un instrument</h2>
    </div>

    {% if erreurs %}
        <div class="alert alert-danger w-75 mx-auto">
            <ul class="mb-0">
                {% for erreur in erreurs %}
                <li>{{ erreur }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="w-75 mx-auto" action="index.php?page=instruments&action={% if instruments %}update{% else %}create{% endif %}" method="post">

        {% if instruments.id_instru is defined %}
        <input type="hidden" name="id_instru" value="{{ instruments.id_instru }}">
        {% endif %}

        {% if session.role == 'visiteur' %}
        <input type="hidden" name="visible_instru" value="0">
        {% else %}
        <input type="hidden" name="visible_instru" value="1">
        {% endif %}

        <div class="mb-3">
            <label for="nom_instru" class="form-label text-primary">Nom de l'instrument :</label>
            <input type="text" name="nom_instru" value="{{ instruments.nom_instru }}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="reference_instru" class="form-label text-primary">Référence de l'instrument :</label>
            <input type="text" name="reference_instru" value="{{ instruments.reference_instru }}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="desc_instru" class="form-label text-primary">Description :</label>
            <textarea name="desc_instru" class="form-control" rows="3">{{ instruments.desc_instru }}</textarea>
        </div>

        <div class="mb-3">
            <label for="prix_instru" class="form-label text-primary">Prix :</label>
            <input type="number" name="prix_instru" value="{{ instruments.prix_instru }}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="type_instru" class="form-label text-primary">Type :</label>
            <select class="form-select text-primary" name="type_instru">
                <option value="Instrument à cordes" {% if instruments.type_instru == 'Instrument à cordes' %} selected {% endif %}>Instrument à cordes</option>
                <option value="Instrument à vent" {% if instruments.type_instru == 'Instrument à vent '%} selected {% endif %}>Instrument à vent</option>
                <option value="Clavier" {% if instruments.type_instru == 'Clavier '%} selected {% endif %}>Clavier</option>
                <option value="Percussion" {% if instruments.type_instru == 'Percussion '%} selected {% endif %}>Percussion</option>
                <option value="Electronique" {% if instruments.type_instru == 'Electronique '%} selected {% endif %}>Electronique</option>
                <option value="Autre" {% if instruments.type_instru == 'Autre '%} selected {% endif %}>Autre</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="etat_instru" class="form-label text-primary">Etat :</label>
            <select class="form-select text-primary" name="etat_instru">
                <option value="Neuf" {% if instruments.etat_instru == 'Neuf' %} selected {% endif %}>Neuf</option>
                <option value="Très bon état" {% if instruments.etat_instru == 'Très bon état '%} selected {% endif %}>Très bon état</option>
                <option value="Bon état" {% if instruments.etat_instru == 'Bon état '%} selected {% endif %}>Bon état</option>
                <option value="Usagé" {% if instruments.etat_instru == 'Usagé '%} selected {% endif %}>Usagé</option>
            </select>
        </div>

        <div class="d-flex flex-row gap-3">
            <button type="submit" class="btn btn-primary mt-3">{% if instruments.id_instru is defined %}Modifier{% else %}Créer{% endif %}</button>
            <a href="index.php?page=instruments" class="btn btn-secondary mt-3">Annuler</a>
        </div>
    </form>
</div>

{% endblock %}
