{% extends "base.twig" %}
{# PAGE POUR SE CONNECTER A SON COMPTE #}


{% block main %}
    <div class="container mt-5 mb-2 p-5 w-50 border border-primary rounded-5">

        {% if message_user %}
        {# quand quelquun a créé son compte : dit que ça a bien été créé #}
            <p class="fs-4 text-center">{{ message_user }}</p>
        {% endif %}

        {% if message_musicien %}
        {# quand quelquun a créé son compte : dit que ça a bien été créé #}
            <p class="fs-4 text-center">{{ message_musicien }}</p>
        {% endif %}

        {% if erreur_cours %}
        {# si quelquun veut s'inscrire à un cours mais qu'il n'est pas connecté #}
            <p class="fs-2 text-center text-danger">{{ erreur_cours }}</p>
        {% endif %}

        {% if erreur_instruments %}
        {# si quelquun veut acheter un instrument mais qu'il n'est pas connecté #}
            <p class="fs-2 text-center text-danger">{{ erreur_instruments }}</p>
        {% endif %}

        {% if erreur_partitions %}
        {# si quelquun veut acheter une partition mais qu'il n'est pas connecté #}
            <p class="fs-2 text-center text-danger">{{ erreur_partitions }}</p>
        {% endif %}

        {% if erreur_compte %}
        {# si le compte n'existe pas #}
            <p class="alert alert-danger">{{ erreur_compte }}</p>
        {% endif %}

        {% if erreurs %}
        {# les erreurs si les champs ne sont pas remplis #}
            <div class="alert alert-danger">
                <ul class="mb-0">
                    {% for erreur in erreurs %}
                    <li>{{ erreur }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <h1 class="text-center pb-4 font_gluten pt-3">Vous revoilà ! </h1>
        <section class="container">
        <form class="w-75 mx-auto" action="index.php?page=authentification&action=check_connexion" method="post">
            <div class="mb-3">
            <label for="mail" class="form-label">Adresse Mail :</label>
            <input type="mail" name="mail" class="form-control">
            </div>
            <div class="mb-3">
            <label for="mdp" class="form-label">Mot de Passe</label>
            <input type="password" name="mot_de_passe" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        </section>
    </div>

    
    <section class="container text-center mb-5">
        <p>Vous n'avez pas encore de compte ?</p>
        <p><a href="index.php?page=authentification&action=inscription">Cliquez ici pour vous inscrire !</a></p>
    </section>


{% endblock %}



